@model Burialmain

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Burial Details</h5>
</div>
<div class="modal-body">
    <dl class="row">
        <dt class="col-sm-4">ID</dt>
        <dd class="col-sm-8">@Model.Id</dd>
        <dt class="col-sm-4">Excavation Year</dt>
        <dd class="col-sm-8">@Model.Fieldbookexcavationyear</dd>
        <dt class="col-sm-4">Area</dt>
        <dd class="col-sm-8">@Model.Area</dd>
        <dt class="col-sm-4">Sex</dt>
        <dd class="col-sm-8">@Model.Sex</dd>
        <!-- Add other fields as needed -->
    </dl>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary text-light"><a asp-action="Burials">Close</a></button>
</div>
