@model BurialmainsViewModel

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Burialmain b in Model.Burialmains)
        {
            <tr>
                <td>@b.Sex</td>
            </tr>
        }
    </tbody>
</table>