@model BurialmainsViewModel

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Burialid</th>
            <th>Sex</th>
            <th>Area</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Burialmain b in Model.Burialmains)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.Sex</td>
                <td>@b.Area</td>
            </tr>
        }
    </tbody>
</table>