@model BurialmainsViewModel

<table>
    <thead>
        <tr>
            <th>Burialid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Burialmain b in Model.Burialmains)
        {
            <tr>
                <td>@b.Id</td>
            </tr>
        }
    </tbody>
</table>