@model Burialmain

<form asp-action="Create" method="post">
@*    <input asp-for="Id" type="hidden" />*@


    <label asp-for="Fieldbookexcavationyear">Excavation Year:</label>
    <input asp-for="Fieldbookexcavationyear" class="form-control" required />


    <label asp-for="Area">Area:</label>
    <input asp-for="Area" class="form-control" required />

 
    <label asp-for="Sex">Sex:</label>
    <select asp-for="Sex" class="form-control" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Unknown">Unknown</option>
    </select>

    <button type="submit" class="btn btn-primary">Create Record</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

