@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="header-title">Welcome to the Archaeologist's World</h1>
    <h4 class="display-8">Explore the past and discover hidden treasures.</h4>
    <p>
        The BYU Egypt Excavation Project, running since 1996 under the guidance of Professor Kerry Muhlestein, explores the fascinating history of the ancient Fayoum region in Egypt. With a focus on a vast cemetery, Snefru's pyramid, and the Greco-Roman township of Philadelphia, the project has unveiled remarkable discoveries, such as mummified cats, unique jewelry, and insight into Egyptian religion, society, and culture.
        Our application will assist this project by providing an accessible platform to showcase the findings, allowing the public to explore burial information and the researchers to predict the wrapping of unearthed remains using machine learning models. This user-friendly tool will support researchers in their ongoing work and the information available will offer valuable educational resources for those interested in ancient Egypt.
    </p>
    <img src="~/egypt.jpg" style="width: 100%; height: 100%;" />
</div>

