@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Find Yo Mummy!</h1>
    <h1 class="header-title">Welcome to the Archaeologist's World</h1>
    <p class="header-subtitle">Explore the past and discover hidden treasures.</p>
    <img src="~/pexels-david-mceachan-71241.jpg" style="width: 100%; height: auto;" />
</div>

