@{
    ViewData["Title"] = "Success";
}

@*Form to redirect after a user has added a new record*@

<h2>Success</h2>
<p>Your form submission was successful!</p>

<a asp-action="Burials">Return to the Burials</a>
