@{
    ViewData["Title"] = "Supervised";
}


<section background-color: tan;>
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2>Head Direction Prediction Form</h2>

                        <form id="submit">

                            @*//This is where we have the radio buttons for the different values that could be requried for the mummy
                            We have been using ternary operators, and intiially set the values to 1
                            *@

                            <h3>Square North South:</h3>
                            <label for="squarenorthsouth_150">
                                <input type="radio" name="squarenorthsouth_150" id="squarenorthsouth_150" value="0" class="radio-button">150
                            </label>
                            <label for="squarenorthsouth_160">
                                <input type="radio" name="squarenorthsouth_160" id="squarenorthsouth_160" value="0" class="radio-button">160
                            </label>
                            <label for="squarenorthsouth_190">
                                <input type="radio" name="squarenorthsouth_190" id="squarenorthsouth_190" value="0" class="radio-button">190
                            </label>
                            <label for="squarenorthsouth_200">
                                <input type="radio" name="squarenorthsouth_200" id="squarenorthsouth_200" value="0" class="radio-button">200
                            </label>
                            <label for="squarenorthsouth_Other">
                                <input type="radio" name="squarenorthsouth_Other" id="squarenorthsouth_Other" value="0" class="radio-button">Other
                            </label>

                            <br />
                            <br />

                            <h3>Head Direction:</h3>
                            <label for="headdirection_E">
                                <input type="radio" name="headdirection_E" id="headdirection_E" value="0" class="radio-button">East
                            </label>
                            <label for="headdirection_Other">
                                <input type="radio" name="headdirection_Other" id="headdirection_Other" value="0" class="radio-button">Other
                            </label>
                            <label for="headdirection_W">
                                <input type="radio" name="headdirection_W" id="headdirection_W" value="0" class="radio-button">West
                            </label>
                            <br />
                            <br />

                            <h3>Sex:</h3>
                            <label for="sex_F">
                                <input type="radio" name="sex_F" id="sex_F" value="0" class="radio-button">Female
                            </label>
                            <label for="sex_F">
                                <input type="radio" name="sex_M" id="sex_M" value="0" class="radio-button">Male
                            </label>
                            <br />
                            <br />

                            <h3>Adult or Subadult:</h3>
                            <label for="adultsubadult_A">
                                <input type="radio" name="adultsubadult_A" id="adultsubadult_A" value="0" class="radio-button">A
                            </label>
                            <label for="adultsubadult_C">
                                <input type="radio" name="adultsubadult_C" id="adultsubadult_C" value="0" class="radio-button">C
                            </label>
                            <label for="adultsubadult_Other">
                                <input type="radio" name="adultsubadult_Other" id="adultsubadult_Other" value="0" class="radio-button">Other
                            </label>
                            <br />
                            <br />

                            <h3>Preservation:</h3>
                            <label for="preservation_W">
                                <input type="radio" name="preservation_W" id="preservation_W" value="0" class="radio-button">W
                            </label>
                            <label for="preservation_poorly_preserved">
                                <input type="radio" name="preservation_poorly_preserved" id="preservation_poorly_preserved" value="0" class="radio-button">Poorly preserved
                            </label>
                            <label for="preservation_wrapped">
                                <input type="radio" name="preservation_wrapped" id="preservation_wrapped" value="0" class="radio-button">Wrapped
                            </label>
                            <br />
                            <br />

                            <h3>Square East West:</h3>
                            <label for="squareeastwest_10">
                                <input type="radio" name="squareeastwest_10" id="squareeastwest_10" value="0" class="radio-button">10
                            </label>
                            <label for="squareeastwest_20">
                                <input type="radio" name="squareeastwest_20" id="squareeastwest_20" value="0" class="radio-button">20
                            </label>
                            <label for="squareeastwest_30">
                                <input type="radio" name="squareeastwest_30" id="squareeastwest_30" value="0" class="radio-button">30
                            </label>
                            <label for="squareeastwest_40">
                                <input type="radio" name="squareeastwest_40" id="squareeastwest_40" value="0" class="radio-button">40
                            </label>
                            <label for="squareeastwest_50">
                                <input type="radio" name="squareeastwest_50" id="squareeastwest_50" value="0" class="radio-button">50
                            </label>
                            <br />
                            <br />

                            <h3>Hair Color:</h3>
                            <label for="haircolor_B">
                                <input type="radio" name="haircolor_B" id="haircolor_B" value="0" class="radio-button">B
                            </label>
                            <label for="haircolor_Other">
                                <input type="radio" name="haircolor_Other" id="haircolor_Other" value="0" class="radio-button">Other
                            </label>
                            <br />
                            <br />

                            <h3>Samples Collected:</h3>
                            <label for="samplescollected_false">
                                <input type="radio" name="samplescollected_false" id="samplescollected_false" value="0" class="radio-button">False
                            </label>
                            <label for="samplescollected_true">
                                <input type="radio" name="samplescollected_true" id="samplescollected_true" value="0" class="radio-button">True
                            </label>
                            <br />
                            <br />

                            <h3>Area:</h3>
                            <label for="area_NW">
                                <input type="radio" name="area_NW" id="area_NW" value="0" class="radio-button">NW
                            </label>
                            <label for="area_Other">
                                <input type="radio" name="area_Other" id="area_Other" value="0" class="radio-button">Other
                            </label>
                            <label for="area_SE">
                                <input type="radio" name="area_SE" id="area_SE" value="0" class="radio-button">SE
                            </label>
                            <label for="area_SW">
                                <input type="radio" name="area_SW" id="area_SW" value="0" class="radio-button">SW
                            </label>
                            <br />
                            <br />

                            <h3>Age at Death:</h3>
                            <label for="ageatdeath_A">
                                <input type="radio" name="ageatdeath_A" id="ageatdeath_A" value="0" class="radio-button">A
                            </label>
                            <label for="ageatdeath_C">
                                <input type="radio" name="ageatdeath_C" id="ageatdeath_C" value="0" class="radio-button">C
                            </label>
                            <label for="ageatdeath_I">
                                <input type="radio" name="ageatdeath_I" id="ageatdeath_I" value="0" class="radio-button">I
                            </label>
                            <label for="ageatdeath_N">
                                <input type="radio" name="ageatdeath_N" id="ageatdeath_N" value="0" class="radio-button">N
                            </label>
                            <label for="ageatdeath_Other">
                                <input type="radio" name="ageatdeath_Other" id="ageatdeath_Other" value="0" class="radio-button">Other
                            </label>
                            <br />
                            <br />

                            <h3>Field Book Excavation Year:</h3>
                            <label for="fieldbookexcavationyear_1987B">
                                <input type="radio" name="fieldbookexcavationyear_1987B" id="fieldbookexcavationyear_1987B" value="0" class="radio-button">1987B
                            </label>
                            <label for="fieldbookexcavationyear_1994B">
                                <input type="radio" name="fieldbookexcavationyear_1994B" id="fieldbookexcavationyear_1994B" value="0" class="radio-button">1994B
                            </label>
                            <label for="fieldbookexcavationyear_1998">
                                <input type="radio" name="fieldbookexcavationyear_1998" id="fieldbookexcavationyear_1998" value="0" class="radio-button">1998
                            </label>
                            <label for="fieldbookexcavationyear_2005">
                                <input type="radio" name="fieldbookexcavationyear_2005" id="fieldbookexcavationyear_2005" value="0" class="radio-button">2005
                            </label>
                            <label for="fieldbookexcavationyear_2009">
                                <input type="radio" name="fieldbookexcavationyear_2009" id="fieldbookexcavationyear_2009" value="0" class="radio-button">2009
                            </label>
                            <label for="fieldbookexcavationyear_Other">
                                <input type="radio" name="fieldbookexcavationyear_Other" id="fieldbookexcavationyear_Other" value="0" class="radio-button">Other
                            </label>
                            <br />
                            <br />

                            <div>
                                <button type="submit" value="Submit" id="Submit">Submit</button>
                            </div>
                        </form>

                        <div class="prediction-container">
                            <div class="prediction-title">Predicted Value:</div>
                            <div class="prediction-value" id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
