@{
    ViewData["Title"] = "Supervised";
}

<div class="text-center">
    <h1 class="display-4">Predict a mummy's Wrapping Type:</h1>
    <br />
    <form method="post" asp-controller="Home" asp-action="Index">
        <h3>Hair Color:</h3>
        <select name="haircolor" id="haircolor">
            <option value="B">B</option>
            <option value="Other">Other</option>
        </select>
        <br />
        <br />
        <h3>Samples Collected:</h3>
        <select name="samplescollected" id="samplescollected">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
        <br />
        <br />
        <h3>Area:</h3>
        <select name="area" id="area">
            <option value="NW">NW</option>
            <option value="Other">Other</option>
            <option value="SE">SE</option>
            <option value="SW">SW</option>
        </select>
        <br />
        <br />
        <h3>Age at Death:</h3>
        <select name="ageatdeath" id="ageatdeath">
            <option value="A">A</option>
            <option value="C">C</option>
            <option value="I">I</option>
            <option value="N">N</option>
            <option value="Other">Other</option>
        </select>
        <br />
        <br />
        <h3>Field Book Excavation Year:</h3>
        <select name="fieldbookexcavationyear" id="fieldbookexcavationyear">
            <option value="1987B">1987B</option>
            <option value="1994B">1994B</option>
            <option value="2005">2005</option>
            <option value="2009">2009</option>
            <option value="Other">Other</option>
        </select>
    </form>

</div>

<script>
    var selectedValues = [squarenorthsouth = "", headdirection = "", sex = "", depth = "", eastwest = "",
    adultsubadult = "", preservation = "", squareeastwest = "", text = "", haircolor = "",
    samplescollected = "", area = "", length = "", ageatdeath = "",
    fieldbookexcavationyear = ""];
    $('select').change(function () {
        var selectName = $(this).attr('name');
        var selectedOption = $(this).val();
        selectedValues[selectName] = selectedOption;
    });
</script>
