@{
    ViewData["Title"] = "Unsupervised";
}
<div class="text-center">
    <h1 class="display-4">Unsupervised Learning Results</h1>
    <img src="~/unsupervised.png"
        width="1200"
        height="500" />
    <h5>-- Each row represents the top factors that contribute to each type of wrapping, where the furthest left row is the most important, and the last row is 5th most important --</h5>
</div>
