html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.cookie-notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    z-index: 1000;
}

    .cookie-notification a {
        color: #fff;
        text-decoration: underline;
    }

    .cookie-notification button {
        background-color: #fff;
        color: #333;
        border: none;
        padding: 5px 10px;
        margin-left: 10px;
        cursor: pointer;
    }
