html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.ourpics {
    width: 100%;
    height: auto;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

.prediction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.prediction-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.prediction-value {
    font-size: 32px;
    color: #4caf50;
    font-weight: bold;
}


.cookie-notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    z-index: 1000;
}

    .cookie-notification a {
        color: #fff;
        text-decoration: underline;
    }

    .cookie-notification button {
        background-color: #fff;
        color: #333;
        border: none;
        padding: 5px 10px;
        margin-left: 10px;
        cursor: pointer;
    }
